*.pyc
.DS_Store
.bonnie

echo/student.zip
echo/echoclient
echo/echoserver

transfer/transferclient
transfer/transferserver

gflib/student.zip
mtgf/student.zip

echo/*-result-*.json
gflib/*-result-*.json
mtgf/*-result-*.json
gflib/courses
mtgf/courses

bin
derived
ts
obj


*.log
